<div class="container" style="height: 100vh; display: flex; flex-direction: column;"> 
  <div class="row" > 
    <div class="col-md-6" > 
      <h1 style="background-color: #3d6bf5;padding: 20px; font-size: 18px; color:#ffffff;border:#000615 ">  Pacientes </h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="font-size: 17px;border-top: 1px solid #ffffff;border-bottom: 1px solid #ffffff">Nombre</th>
              <th scope="col" style="font-size: 17px;border-top: 1px solid #ffffff;border-bottom: 1px solid #ffffff">Edad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of pacientes ; let i = index" (click)="selectPaciente(c)">
              <td style="background-color: #d3d0d09c;border-bottom: 1px solid #ffffff;border-right: 1px solid #ffffff"><a href="#" class="serie-link">{{ c.nombre }}</a></td>
              <td style="background-color: #d3d0d09c;border-bottom: 1px solid #ffffff;border-right: 1px solid #ffffff">{{ c.edad }}</td>
            </tr>
        </tbody>
      </table>
      <dt class="bold" >Numero Menores: {{ menores }}</dt>
  </div>
  <div style="flex: 0 0 300px; margin-left: 20px;">
    <app-paciente-detail [selectedPaciente]="selectedPaciente"></app-paciente-detail>
  </div>
</div>

